.header__navigation_submenu {
  padding: 0;
  text-decoration: none;
  text-decoration-color: black;
  color: black;
  list-style-type: none;
  background-color: #00C805;
  padding-left: 5px;
  padding-right: 5px ;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 5px;
  /* ниже стили для анимации выпадающего меню */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear, visibility 0s linear 0.3s, z-index 0s linear;
}


