.root{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration-line: none;
  text-decoration-color: none;
  max-width: 1440px;
  width: 100%;
}


