.buttons__log-in{
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
  width: 64px;
  height: 28px;
  border: none;
  background-color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .25px;

}

