.investing__content_title{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 1.75px;
}
