.buttons__sign-up_type_black{
  width: 144px;
  height: 48px;
  border-radius: 24px;
  background-color: black;
  border: none;
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.25px;
}
